= {{ scheme["title"]["value"] }}

Subject:: {{ scheme["subject"]["value"] }}

== Names

|===
| Name | Code | Homepage

{% for term in terms if not term["status"]["value"] == "https://inspire.ec.europa.eu/registry/status/invalid" %}
| {{ term["id"]["value"] }}[*{{ term["prefLabel"]["value"] }}*]
| `{{ term["id"]["value"] | replace(base_iri, "") }}`
| {{ term["homepage"]["value"] }}
{% endfor %}
|===

=== Deprecated
{% for term in terms if term["status"]["value"] == "https://inspire.ec.europa.eu/registry/status/invalid" %}
{{ term["id"]["value"] }}[{{ term["prefLabel"]["value"] }}]{% if not loop.last %}, {% endif %}
{%- endfor %}
